body {
  background: #ddd;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  margin: 2rem auto;
  font-family: "Open Sans", sans-serif;
}

nav {
	border-bottom: 2px solid orange;
}

ol {
	padding-left: 0;
}

.crumb {
	margin-right: 2em;
	display: inline;
}

a {
	color: orange;
}

a:visited {
	color: crimson;
}


input {
	display: block;
}

img {
	max-width: 300px;
}

button{
	height:30px;
	border-radius:20px;
	background-color:yellow;
	border:none;
	box-shadow: 2px 2px 2px gray;
}

img{
	border-radius:50%;
}
#ducky-img{
	height:35vh;
	width:35vh;
}
input{
	display:inline-block
}
#neighborhood-main{
	display:grid;
	grid-template-areas:
	"welcome welcome"
	"picture facts";
}
#hood-welcome{
	grid-area:welcome;
}
#georgetown-pic{
	grid-area:picture;
	height:45vh;
}
#georgetown-facts{
	grid-area:facts;
}